<div class="container-title">
  <h2 class="page-title"></h2>
  <div style="clear:both;"></div>
</div>
<div class="container-content">
  <div id="form_add_vue" class="container-content-form">
    <form id="form_add" v-if="org_info.theme != 3" class="common-form" autocomplete="off">
      <div class="form-field">
        <label class="form-left">策略名称<b>*</b></label>
        <input name="name" class="input-text " type="text" placeholder="请输入名称" />
      </div>
      <div class="form-field form-field-inline">
        <label class="form-left">初始资金<b>*</b></label>
        <input name="init_capital" class="input-text " type="text" placeholder="请输入初始资金" />
      </div>
      <div class="form-field">
        <div class="form-field-tip">
          <span>账户可分配金额：</span><span class="cash-available" style="margin-left: 0;">{{numeralNumber(init_capital)}}</span>
        </div>
      </div>
      <div class="form-field form-field-inline">
        <label class="form-left">基金经理<b>*</b></label>
        <select name="operator_uid" class="input-text pb_name" placeholder="请选择基金经理">
          <option v-for="manager in managerInfo" :value="manager.value">{{manager.name}}</option>
        </select>
      </div>
      <div class="form-field">
        <div class="form-field-tip">
          <span>没有找到需要的基金经理用户，</span><a v-on:click="createManager">去创建</a>
        </div>
      </div>
      <div class="form-field">
        <div class="form-field-tip">
          <label><input type="checkbox" checked="checked" name="autoVerify">设为自动审核（针对该策略提交的指令无需审核）</label>
        </div>
      </div>
      <div class="form-btns">
        <button type="submit" class="submit_btn">新建策略</button>
        <button type="button" class="cancel_btn" v-on:click="doCancel">取消</button>
      </div>
    </form>

    <form id="form_add" v-if="org_info.theme == 3" class="common-form" autocomplete="off">
      <div class="form-field">
        <label class="form-left">策略名称<b>*</b></label>
        <input name="name" class="input-text " type="text" placeholder="请输入名称" />
      </div>
      <div class="form-field">
        <label class="form-left">用户密码</label>
        <input name="password" class="input-text " type="password" autocomplete="new-password" placeholder="不填则默认为88888888" />
      </div>
      <div class="form-field form-field-inline">
        <label class="form-left">杠杆比例<b>*</b></label>
        <input name="lever_ratio" class="input-text " type="text" placeholder="填0则表示不设杠杆比例限制" />
      </div>
      <div class="form-field">
        <div class="form-field-tip">
          <label><input type="checkbox" checked="checked" name="autoVerify">设为自动审核（针对该策略提交的指令无需审核）</label>
        </div>
      </div>
      <div class="form-btns">
        <button type="submit" class="submit_btn">新建策略</button>
        <button type="button" class="cancel_btn" v-on:click="doCancel">取消</button>
      </div>
    </form>
  </div>
</div>
