<div class="container-title" id="page_title">
  <h2 v-text="str_page_title"></h2>
  <div style="clear:both;"></div>
</div>
<div class="container-content" id="account_list" style="padding-bottom: 240px;">
  <div class="btn-line">
    <vue-add-group v-if="org_info.theme != 3"></vue-add-group>
    <vue-bind-group v-if="org_info.theme != 3" :selected_top_group_arr="selected_top_group_arr" :selected_top_base_arr="selected_top_base_arr" :group_list="product_list" :option_list="option_list" v-on:do_refresh="getAllData(true)"></vue-bind-group>
    <vue-change-system-password v-if="false" :selected_account_arr="selected_account_arr"></vue-change-system-password>
    <vue-login-account v-if="false" :selected_account_arr="selected_account_arr"></vue-login-account>
    <vue-account-search v-if="false" :product_list="product_list" :selete_id="changeSeleteId" v-on:select_id="changeSeleteId = $event" v-on:change_selected="searchSelected()"></vue-account-search>
    <div style="flex-grow: 1;"></div>
    <select v-if="org_info.theme != 3" v-model="filter" style="width: 200px;">
      <option value="all">全部</option>
      <option value="running">运行中</option>
      <option value="finished">已结束</option>
    </select>
  </div>
  <div>
    <vue-group-table :filter="filter" :accounts_info="accountsInfo" :org_info="org_info" :prefix="prefix"></vue-group-table>
  </div>

</div>
