<div class="container-title">
  <h2 class="page-title"></h2>
  <div class="container-title-right" id="productHeader">
    <vue-product-display :user_info="userInfo" :group_info="groupInfo" :balance_info="balanceInfo" :org_info="org_info"></vue-product-display>
    
  </div>
  <div style="clear:both;"></div>
</div>
<div class="container-content">
  <div class="container-content-menu">
    <div id="productMenu">
      <vue-product-menu :permission="permission" :active="active" :disabled="disabled" :goto="goto"></vue-product-menu>
    </div>
  </div>
  <div class="container-content-lists" id="rules_content">
    <div class="rules_controller">
      <a class="ui-btn btn_back" v-on:click="urlBack">取消</a>
      <a class="ui-btn btn_save_tpl" v-on:click="doSaveTpl">保存默认费用模版</a>
      <div class="tip_tpl">
          <span>为什么要保存默认费用模版</span>
          <div>将本策略当前的费用设置保存为默认费用模板后，添加新策略时，系统将自动按照此模板进行费用设置</div>
        </div>
    </div>
    <div class="rules_content" style="margin-top: -40px;">
      <h3>征收费用（{{rulesStockLevy.length + rulesFundLevy.length + rulesCommonLevy.length}}）</h3>
      <dl v-if="rulesStockLevy.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesStockLevy}]">
        <dt v-on:click="toggleDidplay('rulesStockLevy')">A股交易费（{{ rulesStockLevy.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesStockLevy">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result" style="line-height: 20px; padding: 8px 0;">
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sh_') }}</span>
                <span style="color: #2196F3;">{{ rule.sh_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sz_') }}</span>
                <span style="color: #2196F3;">{{ rule.sz_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doExempt(rule.id)">设为免征</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <div>
                  <label>
                    <span>上交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入费率" v-model="editData.sh_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div>
                  <label>
                    <span>深交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入费率" v-model="editData.sz_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>

      <dl v-if="rulesFundLevy.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesFundLevy}]">
        <dt v-on:click="toggleDidplay('rulesFundLevy')">基金交易费（{{ rulesFundLevy.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesFundLevy">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result" style="line-height: 20px; padding: 8px 0;">
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sh_') }}</span>
                <span style="color: #2196F3;">{{ rule.sh_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sz_') }}</span>
                <span style="color: #2196F3;">{{ rule.sz_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
              
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doExempt(rule.id)">设为免征</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <div>
                  <label>
                    <span>上交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入费率" v-model="editData.sh_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div>
                  <label>
                    <span>深交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入费率" v-model="editData.sz_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>

      <dl v-if="rulesCommonLevy.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesCommonLevy}]">
        <dt v-on:click="toggleDidplay('rulesCommonLevy')">其它费用（{{ rulesCommonLevy.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesCommonLevy">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result">
              <span>{{ getFeePrefix(rule.fee_type, rule.market) }}</span>
              <span style="color: #2196F3;">{{ rule.fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
              <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
              <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                <span>最低</span>
                <span style="color: #2196F3;">{{ rule.fee_lower_limit }}</span>
                <span>元</span>
              </template>
              <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                <span>最高</span>
                <span style="color: #2196F3;">{{ rule.fee_upper_limit }}</span>
                <span>元</span>
              </template>
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doExempt(rule.id)">设为免征</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <label>
                  <span>费率：</span>
                  <div class="rules_input" style="display: inline-block;">
                    <input type="text" placeholder="请输入数字" v-model="editData.fee_rate">
                    <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                  </div>
                </label>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <label>
                    <span>最低费用：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.fee_lower_limit">
                      <span class="rules_input_unit">元</span>
                    </div>
                  </label>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <label>
                    <span>最高费用：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.fee_upper_limit">
                      <span class="rules_input_unit">元</span>
                    </div>
                  </label>
                </template>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>

      <h3 style="margin-top: 20px;">免征费用（{{rulesStockExempt.length + rulesFundExempt.length + rulesCommonExempt.length}}）</h3>
      <dl v-if="rulesStockExempt.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesStockExempt}]">
        <dt v-on:click="toggleDidplay('rulesStockExempt')">A股交易费（{{ rulesStockExempt.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesStockExempt">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result" style="line-height: 20px; padding: 8px 0;">
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sh_') }}</span>
                <span style="color: #2196F3;">{{ rule.sh_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sz_') }}</span>
                <span style="color: #2196F3;">{{ rule.sz_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doLevy(rule.id)">设为征收</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <div>
                  <label>
                    <span>上交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div>
                  <label>
                    <span>深交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>

      <dl v-if="rulesFundExempt.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesFundExempt}]">
        <dt v-on:click="toggleDidplay('rulesFundExempt')">基金交易费（{{ rulesFundExempt.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesFundExempt">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result" style="line-height: 20px; padding: 8px 0;">
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sh_') }}</span>
                <span style="color: #2196F3;">{{ rule.sh_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sh_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
              <div>
                <span>{{ getFeePrefix(rule.fee_type, rule.market, 'sz_') }}</span>
                <span style="color: #2196F3;">{{ rule.sz_fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
                <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <span>最低</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_lower_limit }}</span>
                  <span>元</span>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <span>最高</span>
                  <span style="color: #2196F3;">{{ rule.sz_fee_upper_limit }}</span>
                  <span>元</span>
                </template>
              </div>
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doLevy(rule.id)">设为征收</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <div>
                  <label>
                    <span>上交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sh_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div>
                  <label>
                    <span>深交所 费率：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_rate">
                      <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                    </div>
                  </label>
                  <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最低费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_lower_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                  <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                    <label>
                      <span>最高费用：</span>
                      <div class="rules_input" style="display: inline-block;">
                        <input type="text" placeholder="请输入数字" v-model="editData.sz_fee_upper_limit">
                        <span class="rules_input_unit">元</span>
                      </div>
                    </label>
                  </template>
                </div>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>

      <dl v-if="rulesCommonExempt.length > 0" class="rules_details" :class="[{displayed: displayInfo.rulesCommonExempt}]">
        <dt v-on:click="toggleDidplay('rulesCommonExempt')">其它费用（{{ rulesCommonExempt.length }}）<i></i></dt>
        <template v-for="(rule, i) in rulesCommonExempt">
          <dd>
            <div class="details_index">{{i+1}}</div>
            <div class="details_name">
              <span>{{ getFeeName(rule.fee_type, rule.market) }}</span>
            </div>
            <div class="details_result">
              <span>{{ getFeePrefix(rule.fee_type, rule.market) }}</span>
              <span style="color: #2196F3;">{{ rule.fee_rate + getFeeUnit(rule.fee_type, rule.market) }}</span>
              <span>{{ getFeeSuffix(rule.fee_type, rule.market) }}</span>
              <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                <span>最低</span>
                <span style="color: #2196F3;">{{ rule.fee_lower_limit }}</span>
                <span>元</span>
              </template>
              <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                <span>最高</span>
                <span style="color: #2196F3;">{{ rule.fee_upper_limit }}</span>
                <span>元</span>
              </template>
            </div>
            <div class="details_describe">
              <span>{{ getFeeText(rule.fee_type, rule.fee_rate, rule.market) }}</span>
            </div>
            <div class="details_edit">
              <a v-on:click="doEdit(rule.id, rule.type)">修改</a>
            </div>
            <div class="details_change">
              <a v-on:click="doLevy(rule.id)">设为征收</a>
            </div>
          </dd>
          <template v-if="rule.id == editData.id">
            <dd>
              <div class="rules_edit" style="position: relative;margin-left: 160px;margin-right: 0;width: 100%;">
                <label>
                  <span>费率：</span>
                  <div class="rules_input" style="display: inline-block;">
                    <input type="text" placeholder="请输入数字" v-model="editData.fee_rate">
                    <span class="rules_input_unit">{{getFeeUnit(editData.fee_type, editData.market)}}</span>
                  </div>
                </label>
                <template v-if="hasFeeLowerLimit(rule.fee_type, rule.market)">
                  <label>
                    <span>最低费用：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.fee_lower_limit">
                      <span class="rules_input_unit">元</span>
                    </div>
                  </label>
                </template>
                <template v-if="hasFeeUpperLimit(rule.fee_type, rule.market)">
                  <label>
                    <span>最高费用：</span>
                    <div class="rules_input" style="display: inline-block;">
                      <input type="text" placeholder="请输入数字" v-model="editData.fee_upper_limit">
                      <span class="rules_input_unit">元</span>
                    </div>
                  </label>
                </template>
                <div class="btnDiv" style="position: absolute;right: 0;bottom: 0;padding-right: 96px;">
                  <a class="ui-btn btn-save" style="margin-right: 10px;" v-on:click="saveEdit()">保存</a>
                  <a class="ui-btn btn-cancel" v-on:click="cancelEdit()">取消</a>
                </div>
              </div>
            </dd>
          </template>
        </template>
      </dl>
    </div>
  </div>
</div>
