<div class="container-title">
  <h2 class="page-title"></h2>
  <div class="container-title-right" id="productHeader">
    <vue-product-display :user_info="userInfo" :group_info="groupInfo" :balance_info="balanceInfo" :org_info="org_info"></vue-product-display>
  </div>
  <div style="clear:both;"></div>
</div>
<div class="container-content">
  <div class="container-content-menu">
    <div id="productMenu">
      <vue-product-menu :permission="permission" :active="active" :disabled="disabled" :goto="goto"></vue-product-menu>
    </div>
  </div>

  <div class="container-content-form">
    <form id="positionInfo" class="common-form" autocomplete="off">
      <div class="form-field">
        <label class="form-left">操作<b>*</b></label>
        <select class="input-select" v-model="edit_type" style="width: 275px;">
          <option value="1">证券蓝补</option>
          <option value="2">证券红冲</option>
        </select>
      </div>
      <div class="form-field">
        <label class="form-left">证券<b>*</b></label>
        <div style="display: inline-block;position: relative;">
          <input v-on:focus="focusFlag = true;" v-on:blur="focusFlag = false" name="stock_input" class="input-text " v-model="stock_input" v-on:input="getStockList()" style="width: 275px;" type="text" placeholder="请输入证券代码或名称" />
          <span style="position: absolute; top: 0; right: 0; z-index: 1; padding: 0 5px; color: #35414f; line-height: 35px;padding-right: 16px;">{{stock_name}}</span>
          <ul v-if="focusFlag" class="client-suggestV2" style="width: 275px; top: initial;">
            <li class="client-suggestV2__list" v-for="stock in stockList" v-on:mousedown="selectOneStock(stock.stock_id, stock.stock_name)"> {{stock.stock_id + '&nbsp' + stock.stock_name}} </li>
          </ul>
        </div>
      </div>
      <div class="form-field">
        <label class="form-left">数量<b>*</b></label>
        <input name="init_capital" class="input-text " v-model="volume" style="width: 275px;" type="text" placeholder="请输入数量" />
      </div>
      <div class="form-field">
        <label class="form-left">价格<b>*</b></label>
        <input name="init_capital" class="input-text " v-model="price" style="width: 275px;" type="text" placeholder="请输入价格" />
      </div>
      <div class="form-field">
        <label class="form-left">备注</label>
        <textarea style=" vertical-align: text-top;" v-model="remark" name="init_capital" class="input-text " placeholder="请输入备注（非必填）"></textarea>
      </div>
      <div class="form-btns">
        <button type="button" class="submit_btn" v-on:click="doSubmit">保存</button>
        <button type="button" class="cancel_btn" v-on:click="doCancel">取消</button>
      </div>
  </form>
  </div>
</div>
