<!-- 停牌估值调整页面 -->

<section v-cloak id="suspension" class="section-container" style="padding-bottom: 120px;">
  <div class="container-title" style="margin-bottom: 20px;">
    <h2>停牌估值调整</h2>
    <div style="clear:both;"></div>
  </div>
  <table class="journel-sheet-grid">
    <thead>
      <tr>
      <!-- <draggable :list="display_rules" element="tr" :options="dragOptions" @move="onMove" @end="onEnd"> -->
        <th v-bind:class="rule.class" v-for="rule in display_rules">
          <span v-html="rule.label"></span>
          <a v-if="!rule.hideSort" class="icon-sortBy" v-on:click="chgSort(rule.id)">
            <i class="icon-asc" :class="{active: (order_by == rule.id && order == 'asc')}"></i>
            <i class="icon-desc" :class="{active: (order_by == rule.id && order == 'desc')}"></i>
          </a>
        </th>
      <!-- </draggable> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="display_stocks.length > 0" v-for="sub_value in display_stocks">
        <td v-for="rule in display_rules" v-bind:class="rule.class">
          <span v-if="sub_value.is_adjust == 0 || rule.modify_component != true" v-text="displayValue(sub_value, rule)"></span>
          <vue-custom-modify v-if="(sub_value.is_adjust == 1 || sub_value.is_adjust == 2) && rule.modify_component == true" :id="'market_value'" :value="displayValue(sub_value, rule)" :ajax_url="getAjaxUrl()" :ajax_data="{id: sub_value.id}" :digital_num="2" v-on:modify_value="modify_value($event)"></vue-custom-modify>
        </td>
        <td>
          <a v-if="sub_value.is_adjust == 0" v-on:click="doConfigAdjust(sub_value.id, true)" class="newweb-common-grid__config-btn">估值调整</a>
          <a v-if="sub_value.is_adjust == 1 || sub_value.is_adjust == 2" v-on:click="doConfigAdjust(sub_value.id, false)" class="newweb-common-grid__cancel-btn">取消调整</a>
        </td>
      </tr>
      <tr v-if="display_stocks.length == 0">
        <td colspan="999">暂无停牌股票</td>
      </tr>
    </tbody>
  </table>

  <div class="left-right-grid">
  <!--
    <dl class="left-right-grid__left">
      <dt class="left-right-grid__sub-grid--title" v-text="'第一步：选择停牌股票'"></dt>
      <dd v-show="stock_list.length > 0" v-for="stock in stock_list" v-on:click="setActiveStock(stock.stock_id)" class="left-right-grid__sub-grid--content" :class="active_stock == stock.stock_id ? 'left-right-grid__sub-grid--active' : ''">
        <div>
          <span class="left-right-grid__font--active" v-text="stock.stock_id"></span>
          <span class="left-right-grid__font--active" v-text="stock.stock_name"></span>
        </div>
        <div>
          <span class="left-right-grid__font--grey" v-text="'行业代码'"></span>
          <span class="left-right-grid__font--normal" v-text="stock.industry_code"></span>
          <span class="left-right-grid__font--normal" v-text="stock.industry_class"></span>
        </div>
        <div>
          <span class="left-right-grid__font--grey" v-text="'停牌日'"></span>
          <span class="left-right-grid__font--normal" v-text="stock.suspension_date"></span>
        </div>
      </dd>
      <dd v-show="stock_list.length == 0">
        <div style="font-size: 14px; color: #000; padding: 15px 35px;" v-text="'没有停牌股票'"></div>
      </dd>
    </dl>
    <dl class="left-right-grid__right">
      <dt class="left-right-grid__sub-grid--title" v-text="'第二步：选择需作估值调整的该股持仓产品'"></dt>
      <dd v-if="active_stock != ''" v-for="fund in cur_fund_list" class="left-right-grid__sub-grid--content left-right-grid__sub-grid--active">
        <div>
          <input :disabled="fund.web_disabled" v-model="fund.is_adjust" class="left-right-grid__sub-grid--checkbox" type="checkbox" />
          <span class="left-right-grid__font--normal" v-text="fund.fund_name"></span>
        </div>
        <div>
          <span class="left-right-grid__font--grey" v-text="'持仓权重'"></span>
          <span class="left-right-grid__font--normal" v-text="numeralPercent(fund.position_weight)"></span>
        </div>
        <div>
          <span class="left-right-grid__font--grey" v-text="'指数变动对净值影响比例'"></span>
          <span class="left-right-grid__font--normal" v-text="numeralPercent(fund.susp_factor)"></span>
        </div>
      </dd>
      <dd v-if="active_stock == ''">
        <div style="font-size: 14px; color: #000; padding: 15px 35px;" v-text="'请先在左侧点选需要调整估值的停牌股票'"></div>
      </dd>
    </dl>

  -->
  </div>
  <div class="word-tip">
    <p class="word-tip__content">1.以上数据仅含场内A股部分，其他资产停牌估值调整暂不支持</p>
    <p class="word-tip__content">2.指数变动对净值影响比例=停牌股今日行业指数/停牌日行业指数*权重</p>
    <p class="word-tip__content">3.系统将对选中产品指定停牌股进行估值调整，调整后该股市值=停牌日市值*今日行业指数/停牌日行业指数，若要取消估值调整，请去掉勾选后提交</p>
  </div>
  <!--
  <div style="display: flex; justify-content: flex-end;">
    <a style="margin-right: 60px;" class="custom-btn" v-on:click="doSave">确定</a>
  </div>
  -->
</section>
